    <html>
        <head>
            <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
            <title>Quicknotes</title>
            [STYLE]
        </head>
        <body>
            <input action="action" onclick="location.href='http://localhost:8001/'" type="submit" value="Top" />
            <input action="action" onclick="location.href='http://localhost:8001/list'" type="submit" value="List" />
            <input action="action" onclick="location.href='http://localhost:8001/filter=0'" type="submit" value="Filter" />
            <input action="action" onclick="location.href='http://localhost:8001/sources'" type="submit" value="Sources" />
            <input action="action" onclick="window.history.go(-1); return false;" type="submit" value="Back" />
            <hr />

            [BODY]
        </body>
    </html>
